.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other elements */
  overflow: hidden; /* Hide the scrollbar for the navbar */
}

.main-content-container {
  display: flex;
  width: 100%;
  justify-content: center; /* Center the main content container */
  transition: margin-left 0.3s ease; /* Smooth transition when moving to the left */
}

.main-content-container.shift-left {
  margin-left: -390px; /* Adjust margin to make space for the topic list container */
}

.developer-dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Adjust margin to account for fixed navbar */
  overflow-y: auto; /* Allow vertical scrolling for the content */
  width: 100%; /* Ensure it takes the full width */
  height: 80vh; /* Adjust height to account for the fixed navbar */
}

.profile-card-container {
  height: 20vh;
  width: 60vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; /* Aligns the profile card to the left and button to the right */
  position: relative; /* Add relative positioning */
  flex-direction: column;
  flex: 1;
}

.button-wrapper-container {
  position: absolute; 
  bottom: 0;
  right: 0; 
}

.profile-card {
  display: flex;
  width: 22vw;
  height: 20vh;
}

.profile-image {
  height: 18vh;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 7px;
  margin-left: 5px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.table-container {
  width: 60vw;
  display: flex;
  justify-content: center;
}

.topic-list-container {
  position: fixed;
  right: 122px;
  top: 110px; /* Adjust for the height of the navbar */
  width: 360px;
  height: calc(85% - 60px); /* Adjust for the height of the navbar */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 16px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .developer-dashboard {
    
    height: 83vh; /* Adjust height to account for the fixed navbar */
  }

  .main-content-container {
    margin-left: 120px;
    display: flex;
    width: 100%;
    justify-content: center; /* Center the main content container */
    transition: margin-left 0.3s ease; /* Smooth transition when moving to the left */
  }
  .main-content-container.shift-left {
    margin-left: -160px; /* Adjust margin to make space for the topic list container */
   
  }

  .topic-list-container {
    position: fixed;
    right: 28px;
    top: 132px; /* Adjust for the height of the navbar */
    width: 280px;
    height: calc(85% - 60px); /* Adjust for the height of the navbar */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 16px;
  }

  .profile-card-container {
    width: 80vw;
  }

  .table-container {
    width: 84%;
    margin-top: -12px;
  }

  .profile-card {
    width: 30vw;
    
  }

  .button-wrapper-container {
    position: absolute; 
    bottom: 0;
    right: 134.5px; 
  }
}

@media (max-width: 992px) {
  .profile-card-container {
    width: 90vw;
  }

  .table-container {
    width: 90vw;
  }

  .profile-card {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .profile-card-container {
    width: 100vw;
  }

  .table-container {
    width: 100vw;
  }

  .profile-card {
    width: 50vw;
  }

  .topic-list-container {
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
  }

  .main-content-container.shift-left {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .profile-card {
    width: 70vw;
  }

  .profile-image {
    width: 40px;
  }
}