.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other elements */
  overflow: hidden; /* Hide the scrollbar for the navbar */
}

.developer-dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* Adjust margin to account for fixed navbar */
  overflow-y: auto; /* Allow vertical scrolling for the content */
  width: 100%; /* Ensure it takes the full width */
  height: 80vh; /* Adjust height to account for the fixed navbar */
}

.profile-card-container {
  height: 20vh;
  width: 60vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; /* Aligns the profile card to the left and button to the right */
  position: relative; /* Add relative positioning */
}

.button-wrapper-container {
  position: absolute; 
  bottom: 0;
  right: 0; 
}

.profile-card {
  display: flex;
  width: 30vw;
  height: 20vh;
}

.profile-image {
  height: 18vh;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 7px;
  margin-left: 5px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.table-container {
  width: 60vw;
  display: flex;
  justify-content: center;
}