.profile-card {
  display: flex;
  width: 20vw;
}

.profile-image {
  height: 24vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.profile-details {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  padding-top: 6px;

}

.badge-icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-top: 10px; /* Adjust the spacing as needed */
}