.profile-card {
  display: flex;
  width: 50vw;
  height: 25vh;
}

.profile-image {
  height: 23vh;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.badge-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  margin-top: 10px; /* Adjust the spacing as needed */
}