.appBar {
  background-color: #14305a00;
  height: 10vh;
  margin: 10px;
  margin-top: 15px;
  /* border-radius: 30px; */
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 2px solid #14305a70; /* Add this line */
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 9vh;
  width: auto;
  margin-right: auto;
  margin-left: 40px;
}

.loginButton {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  
}

.iconButton {
  color: #14305A;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.icon1 {
  font-size: 36px; /* Increase the icon size */
  margin-left: 0; /* Add space between login button and profile icon */
}
.icon {
    font-size: 36px; /* Increase the icon size */
    margin-left: 30px; /* Add space between login button and profile icon */
  }