.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  margin-top: 5vh;
}

.welcome-image {
  height: 40vh;
  width: 50vw;
  object-fit: cover;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.loginButton, .registerButton {
  color: red; /* Apply the same color to both SIGN IN and REGISTER */
  cursor: pointer;
  font-weight: bold;
}

.or-text {
  font-size: 1.2em;
  color: #000; /* Default color for "or" text */
  font-family: 'Courier New', Courier, monospace; /* Make it look like code */
}