.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.close-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 300px;
}

.close-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: #0056b3;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  margin-top: 5vh;
}

.welcome-image {
  height: 40vh;
  width: 50vw;
  object-fit: cover;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.loginButton, .registerButton {
  color: red; /* Apply the same color to both SIGN IN and REGISTER */
  cursor: pointer;
  font-weight: bold;
}

.or-text {
  font-size: 1.2em;
  color: #000; /* Default color for "or" text */
  font-family: 'Courier New', Courier, monospace; /* Make it look like code */
}